language: php
sudo: false

services:
  - mysql

cache:
  directories:
    - $HOME/.composer/cache/files

matrix:
  fast_finish: true
  include:
    - php: 7.0
    - php: hhvm
  allow_failures:
    - php: hhvm

env:
  - SYMFONY_VERSION="3.0.*" DB=mysql

before-install:
  - composer self-update

install:
  - composer require satooshi/php-coveralls:~0.6@stable
  - composer install
  - cp app/config/parameters.yml.dist app/config/parameters.yml

script:
  - mkdir -p build/logs
  - phpunit --coverage-clover build/logs/clover.xml

after_script:
  - php vendor/bin/coveralls -v

notifications:
slack: nonio:Qw2vMbsIGDOVdWScx3hazBzA