{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'form-signin', 'id': 'register_form'}}) }}
    {{ form_widget(form) }}
    <div>
        <input class="btn btn-lg btn-primary btn-block" onclick="Register.Run();" type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
{{ form_end(form) }}
