{% javascripts
'public/Bundles/App/js/topmenu.min.js'

filter='?uglifyjs2' %}
<script src="{{ asset_url }}" type="text/javascript"></script>
{% endjavascripts %}

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse"
                    class="navbar-toggle collapsed" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">Phobos</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav">
                {% for menu_position in menu_positions %}
                    <li id="{{ menu_position.clear_path }}"><a
                                href="{{ menu_position.path|e }}">{{ menu_position.name|e }}</a></li>
                {% endfor %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if is_authenticated == true %}
                    <li><a href="/logout">Logout</a></li>
                {% endif %}
                <li class="active"><a href="./">Fixed top <span class="sr-only">(current)</span></a></li>
            </ul>
        </div>
    </div>
</nav>

<script type="text/javascript">TopMenu.Run();</script>